<%- include("partials/header") -%>
    <p> <%= user.name %> </p>
    <div class="w-25 mx-auto mt-5">
        Admin Page
    </div>
    <a href="/logout">Log Out</a>
    <%- include("partials/footer") -%>
